

<h3>{{viewTitle}}</h3>
<form action="/project" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{task._id}}">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="taskTitle" placeholder="Title" value="{{task.taskTitle}}">
        <div class="text-danger">
        </div>
    </div>
    <div class="form-group">
        <label>Text</label>
        <input type="text" class="form-control" name="taskText" placeholder="Text" value="{{task.taskText}}">
        <div class="text-danger">
        </div>
    </div>
    <div class="form-group">
        <label>Subject</label>
        <input type="text" class="form-control" name="taskSubject" placeholder="Subject" value="{{task.taskSubject}}">
        <div class="text-danger">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
    </div>
</form>


