<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Task Page</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Bootstrap CSS File -->
  <link href="../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../lib/animate/animate.min.css" rel="stylesheet">
  <link href="../../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../../css/style.css" rel="stylesheet">
</head>

<body>>
  
  <!--/ Nav End /-->


  <!--/ Intro Skew End /-->
  
  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="post-box">
            <div class="post-meta">
              <h1 class="article-title">{{task.taskTitle}}</h1>
              <ul>
                <li>
                  <span class="ion-ios-person"></span>
                  <a href="#">Antonello Santos</a>
                </li>
                <li>
                  <label for="">August 11, 2019</label>
                </li>
              </ul>
            </div>
            <div class="article-content">
              <p>
                {{task.taskText}}
              </p>
            </div>
          </div>
          <div class="box-comments">
            <div class="title-box-2">
              <h4 class="title-comments title-left">{{comment.commentNumber}}</h4>
            </div>
            <ul class="list-comments">
              <li>
                <div class="comment-avatar">
                  <img src="../img/testimonial-2.jpg" alt="">
                </div>
                <div class="comment-details">
                  {{#each commentList}}
                  <h4 class="comment-author">{{this.commentOwner}}</h4>
                  <span>{{this.commentDate}}</span>
                  <p>
                    {{this.commentText}}
                  </p>
                  <a href="3">Reply</a>
                  {{/each}}
                </div>
              </li>
            </ul>
          </div>
          <div class="form-comments">
            <div class="title-box-2">
              <h3 class="title-left">
                Leave An Answer
              </h3>
            </div>
            <form action="/project/taskPage" method="POST" class="form-mf">
              <div class="row">
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="text" class="form-control" name="commentOwner" placeholder="Enter Name" value="{{comment.commentOwner}}">
                    <textarea name="commentText" placeholder="Text" value="{{comment.commentText}}" id="textMessage" class="form-control input-mf"
                      cols="45" rows="8" required></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="button button-a button-big button-rouded">Leave Comment</button>
                   <a href="/project/dashboard"><button class="button button-a button-big button-rouded" type="button">Home</button></a>
    </form>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- JavaScript Libraries -->
  <script src="../../lib/jquery/jquery.min.js"></script>
  <script src="../../lib/jquery/jquery-migrate.min.js"></script>
  <script src="../../lib/popper/popper.min.js"></script>
  <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../lib/easing/easing.min.js"></script>
  <script src="../../lib/counterup/jquery.waypoints.min.js"></script>
  <script src="../../lib/counterup/jquery.counterup.js"></script>
  <script src="../../lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../../lib/lightbox/js/lightbox.min.js"></script>
  <script src="../../lib/typed/typed.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
